.json-textarea {
  display: flex;
  width: 100vw;
  max-width: 600px;
  margin: auto;
  height: 700px;
  font-family: monospace;
  font-size: 14px;
  color: #333;
  background: #fff;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  border: 1px solid #ced4da;
  border-radius: 5px;
  padding: 10px;
  white-space: pre-wrap; 
  overflow: auto;
}

.json-textarea:focus {
  outline: none;
  border-color: #007bff;
  box-shadow: 0 0 5px rgba(0, 123, 255, 0.5);
}

.json-textarea-error {
  outline: none;
  border-color: red;
  box-shadow: 0 0 5px rgba(219, 4, 4, 0.5);
}

small {
  color: red;
  font-size: 13px;
  display: block;
  margin-bottom: 10px;
  place-self: center;
}